:root {
  --background-header-color: hsl(221, 89%, 22%);
  --background-body-color: hsl(221, 85%, 36%);
  --font-color: hsl(40, 100%, 51%);
}

.product-detail .button,
.button {
  background: var(--font-color);
  border: 1px solid var(--background-header-color);
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.product-detail .button:hover,
.button:hover {
  background: var(--background-header-color);
  color: var(--font-color);
}
